* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Nunito, sans-serif;
}
input {
  border: none;
  background: transparent;
  outline: none;
}
.App h1 {
  margin: 20px 50px 5px 50px;
  color: #333131;
}
